.cards-container {
  position: relative;
  width: 100%;
  height: 39em;
  overflow: hidden;
  display: flex;
  background-color: #202020;
  flex-direction: column;
  color: #973900;
  font-family: "Courier New", Courier, monospace;
  align-items: center;
  padding: 5em;
  margin: 17px;

  & h1,
  h2,
  h3 {
    text-align: center;
  }

  & .typing {
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid;
    width: 22ch;
    animation: typing 2.5s steps(22), cursor 0.4s step-end infinite alternate;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.cardoverlay {
  position: absolute;
  transform-origin: bottom center;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;

  perspective: 1000px;
  z-index: 0;
  transition: bottom 0.3s ease, transform 0.4s ease, right 0.3s ease;
}
.cardoverlay:active {
  z-index: 1;
  transform-origin: center center !important;
  bottom: 50% !important;
  right: 50% !important;
  transform: translate(50%, 50%) scale(1.2) rotate(0deg) !important;

  & .card {
    transform: rotateY(180deg);
  }
}

.card {
  background: var(--gradient);
  aspect-ratio: 17 / 26;
  height: 26em;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  box-shadow: 0px 8px 20px 7px #232222;

  transition: transform 0.6s;
  transform-style: preserve-3d;
  user-select: none;

  & .front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  & .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
    display: flex;
    height: 100%;
  }
}

.internCard {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #312c28;
  aspect-ratio: 1 /1;
  margin: 10px;
  border-radius: 12px;
}

.infoCard {
  flex: 1;
  margin: 0px 10px 10px 10px;
  border-radius: 12px;
  overflow: overlay;
  max-height: 300px;
  color: #2d2525;
  font-family: system-ui;
  font-size: larger;

  & p {
    margin: 3px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.infoCard h1,
.infoCardBack h1 {
  margin: 7px 0px 0px 0px;
  font-size: 32px;
}

.infoCardBack {
  background-color: #e4d7cb;
  margin: 10px;
  border-radius: 12px;
  overflow: overlay;
  color: #2d2525;
  font-family: system-ui;
  font-size: larger;
  flex: 1;
}

.card-label {
  color: white;
  font-size: 40px;
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  padding: 0px 50px;
  border-bottom: 2px solid white;

  right: 180px;
  bottom: 35px;

  margin: 0;
}

#card1-3 {
  right: 50%;
  bottom: 110px;
  transform: translateX(50%) rotate(-10deg) scale(0.9) translateX(-175px);
  .card {
    .front {
      .internCard {
        background-image: url("src/chevOnix.png");
      }
    }
  }
}
#card2-3 {
  right: 50%;
  bottom: 90px;
  transform: translateX(50%);
  .card {
    .front {
      .internCard {
        background-image: url("src/renaultKwid.png");
      }
    }
  }
}
#card3-3 {
  right: 50%;
  bottom: 110px;
  transform: translateX(50%) rotate(10deg) scale(0.9) translateX(175px);
  .card {
    .front {
      .internCard {
        background-image: url("src/FiatMobi.webp");
      }
    }
  }
}
#card1-2 {
  right: 50%;
  bottom: 110px;
  transform: translateX(50%) rotate(-10deg) scale(0.9) translateX(-75px);
  .card {
    .front {
      .internCard {
        background-image: url("src/FiatMobi.webp");
      }
    }
  }
}
#card2-2 {
  right: 50%;
  bottom: 110px;
  transform: translateX(50%) rotate(10deg) scale(0.9) translateX(75px);
  .card {
    .front {
      .internCard {
        background-image: url("src/YamFactor.png");
      }
    }
  }
}

.cardoverlay:hover:not(:active) {
  &#card1-3 {
    transform: translateX(50%) rotate(-10deg) scale(0.92) translateX(-175px) !important;
  }
  &#card2-3 {
    transform: translateX(50%) scale(1.02) !important;
  }
  &#card3-3 {
    transform: translateX(50%) rotate(10deg) scale(0.92) translateX(175px) !important;
  }
  &#card1-2 {
    transform: translateX(50%) rotate(-10deg) scale(0.92) translateX(-75px) !important;
  }
  &#card2-2 {
    transform: translateX(50%) rotate(10deg) scale(0.92) translateX(75px) !important;
  }
}

@media (max-width: 865px) {
  .cards-container {
    height: 30em;
  }

  #card1-3 {
    transform: translateX(50%) rotate(-10deg) scale(0.54) translateX(-175px);
  }
  #card2-3 {
    transform: translateX(50%) scale(0.6);
  }
  #card3-3 {
    transform: translateX(50%) rotate(10deg) scale(0.54) translateX(175px);
  }
  #card1-2 {
    transform: translateX(50%) rotate(-10deg) scale(0.54) translateX(-75px);
  }
  #card2-2 {
    transform: translateX(50%) rotate(10deg) scale(0.54) translateX(75px);
  }

  .cardoverlay:hover:not(:active) {
    &#card1-3 {
      transform: translateX(50%) rotate(-10deg) scale(0.552) translateX(-175px) !important;
    }
    &#card2-3 {
      transform: translateX(50%) scale(0.62) !important;
    }
    &#card3-3 {
      transform: translateX(50%) rotate(10deg) scale(0.552) translateX(175px) !important;
    }
    &#card1-2 {
      transform: translateX(50%) rotate(-10deg) scale(0.552) translateX(-75px) !important;
    }
    &#card2-2 {
      transform: translateX(50%) rotate(10deg) scale(0.552) translateX(75px) !important;
    }
  }
}

@media (max-width: 425px) {
  .cards-container {
    & h1 {
      font-size: x-large;
    }
    & h2 {
      font-size: larger;
    }
    & h3 {
      font-size: large;
    }
  }
}
