.footer {
  background-color: var(--cor-base);
  color: var(--texto-claro);
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h4,
.footer-section h2 {
  color: var(--cor-primaria);
}
.footer-section h3 {
  color: var(--cor-secundaria);
}

.footer-section a {
  color: var(--texto-claro);
  text-decoration: none;
  display: block; /* ou inline-block */
  margin: 16px 0px;
}

.footer-section a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid var(--texto-escuro);
  padding-top: 10px;
  font-size: 14px;
  color: #999;
}
