.contato {
  display: flex;
  align-items: stretch;
  margin: 60px;
}

.img-contato {
  background: var(--gradient-escuro-azul);
  border-radius: 200px 3px 19px 70px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: margin 0.4s ease, border-radius 0.4s ease;

  & img {
    max-width: 43em;
    min-width: 30em;
  }
}

.text-contato {
  background: var(--gradient-escuro);
  border-radius: 19px 70px 200px 3px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  max-width: 533px;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  font-family: "Tomorrow", sans-serif;
  padding: 20px;
  color: aliceblue;
  letter-spacing: 1px;

  transition: margin 0.4s ease, border-radius 0.4s ease;

  & h1 {
    font-size: 30px;
  }
  & p {
    font-family: "Work Sans";
    font-weight: 400;
  }
}

@media (max-width: 1100px) {
  .contato {
    flex-direction: column;
    margin: 20px;
  }
  .img-contato {
    border-radius: 100px 3px 3px 3px;
    margin: 4px;
    max-width: 100vw;
  }
  .text-contato {
    border-radius: 3px 3px 100px 3px;
    margin: 4px;
    max-width: 100vw;
  }
}

.botao-wpp {
  display: inline-block;
  padding: 22px 44px;
  background-color: #141f51;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 0 4px 12px #042b6f66;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  pointer-events: auto;
  margin: 35px;
  font-family: monospace;
  font-size: 21px;
  width: 15ch;
  letter-spacing: 0px;
}

.botao-wpp:hover {
  background-color: #47568b;
  transform: translateY(-2px);
  box-shadow: 0 6px 18px #0046ff5c;
}

.botao-wpp:active {
  transform: translateY(1px);
  box-shadow: 0 2px 6px #0046ff5c;
}
