.footer {
  background-color: var(--cor-base);
  color: var(--cor-text-servicos);
  padding: 40px 20px 20px;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  word-wrap: break-word;
  white-space: normal;
  font-family: "Work Sans", sans-serif;
  & h4,
  h2 {
    font-family: "Tomorrow", sans-serif;
    color: var(--cor-primaria);
    font-weight: 800;
    letter-spacing: 1px;
  }
  & h3 {
    color: var(--cor-secundaria);
    font-family: "Tomorrow", sans-serif;
  }
  & a {
    color: var(--texto-claro);
    text-decoration: none;
    display: block;
    margin: 16px 0px;
  }
  & a:hover {
    text-decoration: underline;
  }
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid var(--texto-escuro);
  padding-top: 10px;
  font-size: 14px;
  color: #999;
}
