.services {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--cor-text-servicos);
  font-family: "Lucida Sans", sans-serif;
  border-radius: 4px 22px;
  padding: 10px 5%;
  margin: 60px 30px;

  transition: background-color 0.2s ease;

  & h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    pointer-events: none;
    font-family: "Tomorrow", sans-serif;
    letter-spacing: 2px;
  }
}

.title-service {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  height: 87%;
  flex: 1;
  p {
    margin: 2px;
    font-family: "Tomorrow", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
  }
}

.service-aba {
  width: clamp(150px, 100%, 1500px);
  min-height: 250px;
  display: flex;
  align-items: stretch;
  margin: 1px 0px;
}

.item {
  background: linear-gradient(#121318, #1b1c29);
  flex: 1;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 24px 8px;
  box-sizing: border-box;
  border-radius: 4px 22px;
  margin: 24px;
  align-items: center;
}

.info-services {
  background-color: #8a8a8a4a;
  border-radius: 2px 11px;
  margin: 10px;
  padding: 10px;
  height: 100%;
  width: 90%;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

@media (max-width: 865px) {
  .service-aba {
    flex-direction: column;
  }

  .services {
    background-color: #505050;
  }
}

.icon {
  width: 57px;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
  margin: 13px;
  flex-shrink: 0;
}

.icon-svg {
  color: var(--cor-text-servicos);
}
